rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null && request.auth.token.email_verified == true;
    }

    function allowlistedEmail() {
      return request.auth.token.email == 'roaguirred@gmail.com' ||
        request.auth.token.email.matches('.*@zerofox\\.com$');
    }

    match /{artifactPrefix}/{runId}/{fileName} {
      allow read: if firestore.exists(/databases/(default)/documents/runs/$(runId)) &&
        signedIn() && allowlistedEmail();
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
